---
import { Image } from "astro:assets";
import {
    Baby,
    Download,
    GraduationCap,
    Languages,
    MapPinned,
} from "@lucide/astro";
import ava from "@/assets/ava.png";
import SummaryPoint from "@/components/SummaryPoint.astro";
import type { PersonDetails } from "@/types/PersonDetails";

interface Props {
    details: PersonDetails;
}

const { details } = Astro.props;
const { name, location, year, school, languages } = details;
---

<div class="card bg-base-200 w-96 shadow-md relative">
    <div class="card-actions absolute top-2 end-2 print:hidden">
        <button class="btn btn-lg btn-circle" onclick="window.print()">
            <Download />
        </button>
    </div>

    <div class="card-body items-center text-center">
        <h1 class="card-title text-2xl font-light">{name}</h1>
        <figure class="avatar my-4 hover-3d">
            <div class="mask mask-hexagon-2 w-48">
                <Image src={ava} alt={name} fetchpriority="high" priority />
            </div>
        </figure>
        <div class="flex flex-row gap-4 items-center">
            <SummaryPoint text={`${year}`}><Baby slot="icon" /></SummaryPoint>
            <SummaryPoint text={location}>
                <MapPinned slot="icon" />
            </SummaryPoint>
        </div>
        <SummaryPoint text={school}>
            <GraduationCap slot="icon" />
        </SummaryPoint>

        <SummaryPoint text={languages.join(", ")}>
            <Languages slot="icon" />
        </SummaryPoint>
    </div>
</div>
